@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #fffff1;
    color: #444;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    margin: 0;
    min-height: 100vh;
}

h1 {
    color: #282829;
    font-size: 50px;
    text-align: center;
    opacity: 0.4;
}

form {
    border: 2px solid;
    max-width: 100%;
    width: 400px;
    padding-bottom: 20px;
    border-radius: 10px;
    background: #282829;
}

.input {
    color: #fffff1;
    font-size: 2rem;
    padding: 16px 10px;
    display: block;
    width: calc(100% - 40px);
    background: #282829;
    border-radius: 8px;
    margin: 10px 20px;
    border: 2px solid;
}

.input::placeholder {
    color: #d5d5d5;
}

.todos {
    /* background-color: #fff; */
    padding: 0 15px;
    margin: 3px 0px;
    list-style-type: none;
}

.todos li {
    border: 1px solid #e5e5e5;
    margin-top: 12px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #fffff1;
}

.todos li:first-child{margin-top: 10px;}
.todos li.completed {
    color: #b6b6b6;
    text-decoration: line-through;
}

small {
    color: #b5b5b5;
    margin-top: 3rem;
    text-align: center;
}